.container{
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
    
  }

  .nav-img{
    padding: 20px;

  }

  .hero-img{
    width: 396px;
    margin: auto;
  }

  .hero{
    width: 396px;
    margin: auto;
    padding: 20px 0px 20px 0px;
  }

  .hero-txt{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 55%;
    margin-left: 36px;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 176px;
    gap: 1rem;
    padding-top: 2.5rem;
    
  }
  .card-img{
    width: 176px;
    height: 235px;
  }

  .star-icon{
    width: 14px;
  }
.card-content{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cards-container{
  display: flex;
  width: 550px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  padding-left: 36px;
  gap: 10px;
  padding-bottom: 30px;
}